.textGradient {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(260deg, #a9eeff, #3bd9d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navhover {
    color: #20ebeb;
    font-size: 14px;
    text-transform: uppercase;
    /* border: 2px solid #3bd9d9; */
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
}

.navhover::before {
    content: "";
    position: absolute;
    background:#20ebeb;
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-14deg);
    filter: blur(24px);
}

.navhover:hover::before {
    left: calc(100% + 32px);
    transition: 1s;
}

.bodyGradient {
    background: linear-gradient(180deg, #2e1f37, #051527);
    overflow: hidden;
    transition: 0.6s;
    transform: translate(0);
    font-weight: 400;
}

.bodyGradient .bodyhover:hover {
    color: #020e26;
    border-color: #020e26;
} 

.bodyGradient::before {
    content: "";
    position: absolute;
    top: -75px;
    left: -45px;
    z-index: -1;
    background: linear-gradient(to right, #1693a0, #36a6bf);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}

.bodyGradient:hover::before {
    transform: scale(4.5);
}

.buttonHover {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
    border: 0;
    border-radius: 64px;
    color: #ffffff;
    background-color: #0d6efd;
    cursor: pointer;
    overflow: hidden;
    transform: translate(0);
}

.buttonHover::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #0d6efd, #3bd9df);
    transition: 1s ease;
    transform: scaleX(2);
    transform-origin: 100% 0;
}

.buttonHover:hover:before {
    transform: scaleX(1.1) scaleY(1.1);
    left: calc(100% + 32px);
    transition: 0.75s;
}

.bodyGradientRed {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    color: #001233;
    background-color: #002855;
    cursor: pointer;
    overflow: hidden;
    transform: translate(0);
}

.bodyGradientRed::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,  #002855, #001845, #001233);
    transition: 0.4s ease;
    transform: scaleX(2);
    transform-origin: 100% 0;
}

.bodyGradientRed:hover::before {
    transform: scaleX(1.1) scaleY(1.1);
}

.bodyGradientYellow {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    color: #001233;
    background-color: #002855;
    cursor: pointer;
    overflow: hidden;
    transform: translate(0);
}

.bodyGradientYellow::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,  #b21e35, #a71e34, #641220);
    transition: 0.4s ease;
    transform: scaleX(2);
    transform-origin: 100% 0;
}

.bodyGradientYellow:hover::before {
    transform: scaleX(1.1) scaleY(1.1);
}